.modal_upload {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_file {
    width: 300px;

    .modal_caption {
      width: 100%;
      font-size: 1rem;
      resize: none;
    }
  }
}

// .filepond--root {
//   height: 500px;
  
//   .filepond--drop-label {
//     height: inherit;
//   }
// }