.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;

  .input:focus, .input {
    width: 250px !important;
    height: 30px !important;
    max-width: 100%;
    border-color: #ddd;
    box-shadow:none;
    padding-left: 2rem;
  }

  .text {
    position: absolute;
    font-size: 1rem;
    cursor: auto;
    display: flex;
    align-items: center;

    span {
      display: flex;

    }
  }

  .text_edit {
    @extend .text;
    left: 0;
    right: 0;

    span:first-child {
      margin-left: 3rem;
      margin-right: 11.5rem;
    }
  }
}