.login-form {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: thin solid #ddd;
  width: 350px;
  max-width: 100%;

  .alert {
    transition: visibility 0s, opacity 0.5s linear;
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .form-group {
    margin: 0;
    position: relative;

    label {
      font-size: 0.8rem;
      width: 100%;
      position: relative;

      .form-control:focus, .form-control:valid {
        padding-top: 1rem;
      }

      
      .form-label__text {
        position: absolute;
        top: 50%;
        transform: translate(15px, -50%);
        color: #888;
        transition: 200ms ease;
      }
      
      .form-control:valid + .form-label__text, .form-control:focus + .form-label__text {
        font-size: 0.7rem;
        top: 25%;
      }
    }

    ion-icon {
      position: absolute;
      right: 5px;
      top: 25%;
    }
  }

  .btn {
    display: block;
    width: 100%;
    padding: 0.2rem;
  }

  .form-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9c9a9a;
    margin: 10px 0;
  }

  .form-text::before, .form-text::after {
    content: "";
    width: 100px;
    border-top: thin solid;
  }

  .btn-reset-pw {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #385185;
  }
}

