* {
  font-family: 'Montserrat', sans-serif;
}
.header .navbar {
  justify-content: space-between;
  padding: .5rem 0;
  margin: 0 5rem;
}

.header .navbar a:first-of-type {
  flex-basis: 25%;
  margin: 0;
  color: black;
}

.header .navbar-search {
  font-size: 14px;
  flex-basis: 50%;
  text-align: center;
}

.header .navbar-search label {
  position: relative;
}

.header .navbar-search input {
  padding: 2px 5px 2px 20px;
  width: 200px;
  max-width: 100%;
}

.header .navbar-search .blur-input {
  position: absolute;
  display: inline-flex;
  left: 50%;
  align-items: center;
  top: 50%;
  transform: translate(-50%,-50%);
}

.header .navbar-search .focus-input {
  position: absolute;
  left: 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  transform: translateY(50%);
  padding: 0 5px;
  z-index: 1;
}

.header .navbar-search .focus-input div:first-of-type {
  margin-left: 3px;
}

.header .navbar-search .focus-input div:last-of-type {
  margin-right: 3px;
}

.header .navbar-nav {
  flex-basis: 25%;
  justify-content: flex-end;
}

.header .navbar-nav .nav-item .nav-link a {
  color: black;
  font-size: 1.4rem;
}


