.toggle-form {
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  border: thin solid #ddd;
  width: 350px;
  max-width: 100%;
  text-align: center;

  span {
    margin-right: 5px;
  }

  a {
    color: #007bff;
  }
}